In [1]:
import time
import re
from collections import defaultdict

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup

In [2]:
def work_player_profile(team):
    url = 'https://www.basketball-reference.com/teams/' + team
    res = requests.get(url)
    soup = BeautifulSoup(res.text)

    print(f"Current team: {team}")

    data_dict = defaultdict(list)

    win_pct = soup.find(attrs={'id': 'div_'+team})

    for row in win_pct.findAll("tr"):
        if len(row.find('th', attrs={'data-stat': 'season'}).text) != 7:
            continue
        if row.find('th', attrs={'data-stat': 'season'}).text == '1979-80':
            break
        data_dict['season'].append(row.find('th', attrs={'data-stat': 'season'}).text)
        data_dict['win_pct'].append(row.find('td', attrs={'data-stat': 'win_loss_pct'}).text)
        data_dict['team'].append(team)


    return data_dict

In [3]:
teams = ['ATL','BOS','NJN','CHA','CHI','CLE','DAL','DEN','DET','GSW','HOU','IND',
        'LAC','LAL','MEM','MIA','MIL','MIN','NOH','NYK','OKC','ORL','PHI','PHO',
        'POR','SAC','SAS','TOR','UTA','WAS']
new_data = defaultdict(list)

for team in teams:
    cur_season_dict = work_player_profile(team)
    for key in cur_season_dict:
        new_data[key].extend(cur_season_dict[key])

Current team: ATL
Current team: BOS
Current team: NJN
Current team: CHA
Current team: CHI
Current team: CLE
Current team: DAL
Current team: DEN
Current team: DET
Current team: GSW
Current team: HOU
Current team: IND
Current team: LAC
Current team: LAL
Current team: MEM
Current team: MIA
Current team: MIL
Current team: MIN
Current team: NOH
Current team: NYK
Current team: OKC
Current team: ORL
Current team: PHI
Current team: PHO
Current team: POR
Current team: SAC
Current team: SAS
Current team: TOR
Current team: UTA
Current team: WAS

In [30]:
df = pd.DataFrame.from_dict(new_data, orient='index')

In [31]:
data_frame = df.transpose()

In [36]:
import re
def season_type(row):
    split = str(row['season']).split('-')
    season = split[0][0:2]+split[1]
    return season
data_frame['season'] = data_frame.apply(season_type,axis=1)

In [37]:
data_frame

     season win_pct team
0      2020    .299  ATL
1      2019    .354  ATL
2      2018    .293  ATL
3      2017    .524  ATL
4      2016    .585  ATL
5      2015    .732  ATL
6      2014    .463  ATL
7      2013    .537  ATL
8      2012    .606  ATL
9      2011    .537  ATL
10     2010    .646  ATL
11     2009    .573  ATL
12     2008    .451  ATL
13     2007    .366  ATL
14     2006    .317  ATL
15     2005    .159  ATL
16     2004    .341  ATL
17     2003    .427  ATL
18     2002    .402  ATL
19     2001    .305  ATL
20     1900    .341  ATL
21     1999    .620  ATL
22     1998    .610  ATL
23     1997    .683  ATL
24     1996    .561  ATL
25     1995    .512  ATL
26     1994    .695  ATL
27     1993    .524  ATL
28     1992    .463  ATL
29     1991    .524  ATL
...     ...     ...  ...
1082   2010    .317  WAS
1083   2009    .232  WAS
1084   2008    .524  WAS
1085   2007    .500  WAS
1086   2006    .512  WAS
1087   2005    .549  WAS
1088   2004    .305  WAS
1089   2003    .451  WAS
1090   2002    .451  WAS
1091   2001    .232  WAS
1092   1900    .354  WAS
1093   1999    .360  WAS
1094   1998    .512  WAS
1095   1997    .537  WAS
1096   1996    .476  WAS
1097   1995    .256  WAS
1098   1994    .293  WAS
1099   1993    .268  WAS
1100   1992    .305  WAS
1101   1991    .366  WAS
1102   1990    .378  WAS
1103   1989    .488  WAS
1104   1988    .463  WAS
1105   1987    .512  WAS
1106   1986    .476  WAS
1107   1985    .488  WAS
1108   1984    .427  WAS
1109   1983    .512  WAS
1110   1982    .524  WAS
1111   1981    .476  WAS

[1112 rows x 3 columns]

In [38]:
data_frame.to_csv('all_teams.csv')